* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato;
}
.link {
  text-decoration: none;
  color: blue;
}
/** Home Page **/
.home-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  background-color: #000;
  background-image: url("./assets/bg-6.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
.home-main {
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: row;
  padding: 4rem 2.5rem;
  justify-content: center;
}
.main-one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main-two {
  display: none;
}
.home-title {
  border-left: 3px solid rgb(174, 63, 174);
  padding: 0.3rem 0;
  padding-left: 1.4rem;
  opacity: 0.6;
}
.home-title__header {
  font-size: 1.2rem;
  font-weight: 500;
}
.home-body {
  width: 100%;
  max-width: 35rem;
}
.home-body__header {
  font-size: 3.2rem;
  line-height: 4.1rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
.home-body p {
  opacity: 0.4;
  margin-top: 1.7rem;
  margin-bottom: 3.8rem;
  font-size: 1.2rem;
}
.home-body__bottom {
  display: flex;
  align-items: center;
  justify-items: center;
}
.home-body__bottom hr {
  width: 3.8rem;
  margin-right: 1.25rem;
  border: none;
  background-color: #fff;
  height: 3px;
}
.home-body__bottom button {
  background-color: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  color: rgb(174, 63, 174);
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
}
@media screen and (min-width: 768px) {
  .home-main {
    padding: 3.5rem 6rem;
  }
  .main-one {
    width: 60%;
  }
  .main-two {
    width: 40%;
    display: block;
  }
  .main-two > div {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-two .icon {
    font-size: 14rem;
    opacity: 0.5;
  }
}
/** Registration page **/
.register {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-steps {
  display: none;
}
.register-form {
  padding: 5rem 2rem;
  width: 100%;
  max-width: 30rem;
}
.register-form img {
  width: 5rem;
  padding-top: 0rem;
  margin-bottom: 2rem;
}
.register-form h1 {
  font-family: Kanit;
  margin-bottom: 0.2rem;
}
.register-form p {
  opacity: 0.55;
  margin-bottom: 3.5rem;
  line-height: 1.5rem;
}
.register-form .form-group {
  width: 100%;
  margin-bottom: 1rem;
}
.register-form .form-group label {
  cursor: pointer;
  font-weight: 500;
  font-family: Lato;
}
.register-form .form-group label span {
  font-weight: 600;
  color: crimson;
}
.form-group input {
  width: 100%;
  border: 1px solid #ddd;
  background-color: inherit;
  padding: 1rem 1.5rem;
  margin: 0.7rem 0;
  outline: none;
  border-radius: 5px;
}
.form-group button {
  width: 100%;
  border: none;
  background-color: rgb(56, 2, 56);
  padding: 0.9rem 1.5rem;
  font-weight: 600;
  font-family: Kanit;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.forgot {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1.3rem !important;
  color: blue;
}
.no-member {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1.3rem !important;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .register {
    display: flex;
    width: 95%;
    max-width: 60rem;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    box-shadow: 0px 0px 80px rgba(34, 43, 56, 0.3);
    background-color: rgb(174, 63, 174);
  }
  .register-form {
    padding: 3rem 2.5rem;
    width: 55% !important;
    max-width: 55% !important;
    background-color: #fff;
  }
  .register-steps {
    width: 45%;
    padding: 4rem 2.4rem;
    color: #f1f1f1;
    display: block;
    text-align: center;
  }
  .register-steps__dots {
    padding-top: 3.5em;
  }
  .register-steps__dots span {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    display: inline-block;
    background-color: #fff;
    opacity: 0.3;
    margin-right: 0.6rem;
    cursor: pointer;
  }
  .register-steps__dots span.active {
    opacity: 1;
  }
  .register-steps__dots span:last-child {
    margin-right: 0;
  }
  .register-steps__step img {
    width: 18rem;
  }
  .register-steps__step h2 {
    font-family: Kanit;
    margin-bottom: 0.3rem;
  }
  .register-steps__step p {
    opacity: 0.6;
    line-height: 2rem;
    font-size: 0.95rem;
  }
}
