* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/** Home Page **/
.home-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  background-color: #000;
  background-image: url("./assets/bg-6.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
.home-main {
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: space-between;
  flex-direction: column;
  padding: 4rem 2.5rem;
}
.home-title {
  border-left: 3px solid rgb(174, 63, 174);
  padding: 0.3rem 0;
  padding-left: 1.4rem;
  opacity: 0.6;
}
.home-title__header {
  font-size: 1.2rem;
  font-weight: 500;
}
.home-body {
  width: 100%;
  max-width: 35rem;
}
.home-body__header {
  font-size: 3.2rem;
  line-height: 4.1rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
.home-body p {
  opacity: 0.4;
  margin-top: 1.7rem;
  margin-bottom: 3.8rem;
  font-size: 1.2rem;
}
.home-body__bottom {
  display: flex;
  align-items: center;
  justify-items: center;
}
.home-body__bottom hr {
  width: 3.8rem;
  margin-right: 1.25rem;
  border: none;
  background-color: #fff;
  height: 3px;
}
.home-body__bottom button {
  background-color: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  color: rgb(174, 63, 174);
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
}
@media screen and (min-width: 768px) {
  .home-main {
    padding: 3.5rem 6rem;
  }
}
